.selected {
  transform:scale(0.95);
}

.my-image {
  cursor:pointer;
  border:1px solid black;
  border-radius:6px;
  -webkit-transition:transform .3s ease-in-out;
  -moz-transition:transform .3s ease-in-out;
  -ms-transition:transform .3s ease-in-out;
}

#continyu {
  width:100px;
  height:50px;
  background-color:#eeeeee;
}

#final-text {
  top:500px;
}

#celebrate {
  width:100% !important;
  height:300px !important;
}

#header {
  height:100px;
  padding-top:0px;
  background: #117ACA;
  background: -webkit-linear-gradient(left top, #117ACA, #84bde7);
  background: -o-linear-gradient(bottom right, #117ACA, #84bde7);
  background: -moz-linear-gradient(bottom right, #117ACA, #84bde7);
  background: linear-gradient(bottom right, #117ACA, #84bde7);
  box-shadow:2px 2px 8px #000000;
}

#header>h1 {
  color:white;
  text-shadow:2px 2px 4px #000000;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}
